/* Base Style */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap'),; /* font-family: 'Playfair Display', serif; */
* {
    box-sizing: border-box;
}
body {
    padding-top:89px;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    background-color: #1B1B18;
}

h1,h2,h3,h4 {
    margin: 0;
    letter-spacing: 1px;
}
h2 {
    font-family: "playfair display", Helvetica, Arial;
}
h3 {
    font : italic 1em Helvetica, Arial;
}

p {
    font-family: 'Muli', sans-serif;
    margin: 0;
    font-size: 14px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

/* Nav Style */
.main-header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow:0 1px 4px rgba(0, 0, 0, .4) ;
    top: 0;
}
.containerr {
    width: 100%;
    margin: 0 auto;
}

.berkaca {
    display: flex;
    justify-content:center;
    margin: 0;
    font-family: 'Merienda', cursive;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    background-color: #000;
    
   
}
.berkaca a{
    color: #fff;
    text-shadow: rgb(47, 48, 50) 3px 3px, rgb(34, 40, 49) -2px 3px, rgb(27, 38, 64) 2.5px -2px;        
}
.slider {       
    text-align: center;
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    margin-bottom: 3px;    
}
.clk2 {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.click {
    background: black;
    color:white;
    padding: 5px 0;
    flex-grow: 3; 
    flex-basis: 100%;
}
a.click:hover{
    background-color:white;
    color: black;
}
a.click:active{
    background-color: white;
    color: black;
}

/* Banner Style */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    background: 
                linear-gradient(rgba(255,255,255),transparent 40%),
                linear-gradient(to top, #000,transparent 60%),
                black url(../Img/berkaca.jpeg) center no-repeat;
    background-size: cover;
    height: 20em; /* 20em = 320px */
    text-align: center;
    color: white;
    margin-bottom: 10px;
  
}
/* Article */
.boxes {
    width: 90%;
    margin: 0 auto;
    color: white;
    height: 100vh;
}

.boxes p {
    text-align: justify;
    line-height: 1.5;
}

.quotes {
    font-style: italic;
    font-weight: bolder;
}
.title1 {
    margin: 10px 0;
    text-align: center;
}
.style-title {
    text-align: left;
}




/* Media */
@media (min-width: 1024px) {
    .banner {
        height: 30em;
    }
    .boxes {
        width: 60%;
    }
}
